<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head');%>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <%-include('partials/header');%>
    
    <div class="container mt-4">
        <nav aria-label="breadcrumb" class="small d-flex justify-content-between">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/main/dashboard"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/adm/data/kegiatan">Data Kegiatan</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>
        </nav>
        <hr>

        <form action="/adm/data/kegiatan/<%= kegiatan._id %>" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nama_kegiatan" class="form-label">Nama Kegiatan</label>
                <input type="text" class="form-control" id="nama_kegiatan" name="nama_kegiatan" value="<%= kegiatan.nama_kegiatan %>" required>
            </div>
            <div class="mb-3">
                <label for="tanggal_kegiatan" class="form-label">Tanggal Kegiatan</label>
                <input type="date" class="form-control" id="tanggal_kegiatan" name="tanggal_kegiatan" value="<%= new Date(kegiatan.tanggal_kegiatan).toISOString().split('T')[0] %>" required>
            </div>
            <div class="mb-3">
                <label for="deskripsi_kegiatan" class="form-label">Deskripsi Kegiatan</label>
                <textarea class="form-control" id="deskripsi_kegiatan" name="deskripsi_kegiatan" rows="3" required><%= kegiatan.deskripsi_kegiatan %></textarea>
            </div>
            <div class="mb-3">
                <label for="foto_kegiatan" class="form-label">Foto Kegiatan</label>
                <input type="file" class="form-control" id="foto_kegiatan" name="foto_kegiatan">
                <% if (kegiatan.foto_kegiatan) { %>
                    <a href="<%= kegiatan.foto_kegiatan %>" target="_blank">Lihat Foto Lama</a>
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary">Update Kegiatan</button>
        </form>
    </div>
</body>
</html>
